{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
    {% include 'componets/header.html' %}
    {% if user.is_authenticated %}
        {% include 'componets/jobs.html' %}
    {% else %}
        {% include 'componets/notlogged.html' %}
    {% endif %}
    {% include 'componets/footer.html' %}
</body>
</html>